
<div style="margin-top:30px;">
    @*<div class="wrapper">
        @foreach (var item in ViewBag.SongText)
        {
            <p class="my-text">@item</p>
        }
    </div>*@
    <div>
        
        @{
            string str = "";

            foreach (string item in ViewBag.SongText)
            {
                str = item.ToString();// as string;
                if(str != null)
                { 
                    if (str[0] == '#')
                    {
                        //str = str.Substring(1, str.Length - 2);
                       <p class="my-accords">@str</p>
                    }
                    else
                    {
                        <p class="my-text">@str</p>
                    }
                }
            }
        }
        
    </div>
</div>

