

        body{
            /*font: 20px Montserrat, sans-serif;*/
            /*font: 22px Times New Roman;*/
            font: 22px Tahoma;
            line-height: 1.8;
            color: #f5f6f7;
        }
        
        li{
          margin: 0;
        }

        ul{
            list-style-type:none;
        }

        .my-first {
            text-align:left !important;
        }

        .li-small {
           font-size:medium;
        }
 
        a {
            font-size: 16px;
            color:#696969;
        }

        a:hover {
            font-size: 16px;
            color:black;
            text-decoration:none;
        }



        p {
            font-size: 16px;
        }


        .my-text{
            line-height: 70%;
            white-space:pre; 
            text-align:center; 
        }


	    /*.wrapper {	    
            width:19%;
	        margin:0 auto;
	    }*/


        .my-dropdown {
            font-size: 16px;
            color:#696969;
            text-align:center;
        }

        .my-margin {
            margin-right: 30px;
        }

        .margin {
            margin-bottom: 25px;
        }

        .bg-1 {
            background-color: #FFFFFF; /* White */
            color: #555555;
        }

        .bg-2 {
             background-color: #F5F5F5 ; /* Light Gray */
            color: #555555;
        }

        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f !important; /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: solid white 1px;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 16px;
            letter-spacing: 1px;
        }

        .navbar-nav li a:hover {
            color: #DCDCDC !important;
        }

        #price{
            margin-bottom: 5px;
        }
        
        #adress{
            margin-bottom:25px;
        }

        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }

        .field-validation-error{
            color:#f00;
        }

        .field-validation-valid{
            display:none;
        }

        .input-validation-error{
            border:1px solid #f00;
            background-color:#fee;
        }

        .validation-summary-errors{
            font-weight:bold;
            color:#f00;
        }

        .validation-summary-valid{
            display:none;
        }

        #cartTable td{
            vertical-align:middle;
        }

        .admin{
            margin:7px;
            color:grey;
            border:1px solid gray;
            border-radius: 30px;
        }

        .mymain {
            margin-top:50px;
            padding:7px;

            margin:1px;
            color:grey;
            /*border:1px solid gray;*/
            /*--border-radius: 30px;*/            
        }

