@model Web_UI.Models.TextOrAccordLineList

<div style="margin-top:30px;">

    <div>

        @{
            if (Model.List.Count > 0)
            {
                foreach (var item in Model.List)
                {
                    if (item.IsText)
                    {
                        <p class="my-text">@item.Str</p>
                    }
                    else
                    {
                        <p class="my-accords">@item.Str</p>
                    }
                }
            }
        }

    </div>
</div>